* {
    margin: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories {
    width: 75%;
    height: 55%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.welcome {
    display: none;
    position: absolute;
    margin: 25px;
}

.welcome > * {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
}

.welcome > h1 {
    color: red;
    font-size: 1.5rem;
    padding-bottom: 25px;
}

.tale {
    background-color: #EDD8B1;
    height: fit-content;
    position: relative;
    transition: 150ms translate;
}

.tale:hover,
.tale:focus {
    box-shadow: 0px 0px 5px 5px black;
    transform: translateY(-10px);
    outline: none;
}

.tale > button {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: fit-content;
    cursor: pointer;
}

.tale > button:focus {
    outline: none;
}

.tale > button > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    line-height: auto;
    font-size: 1.25rem;
    padding-inline: 25px;
}

.title {
    display: grid;
    place-items: center;
    height: 50px;
}

[x] {
    margin-top: auto;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .wrapper > img {
        object-fit: unset;
        height: 100%;
        width: auto;
        position: absolute;
        right: 0;
    }

    .welcome {
        display: block;
    }

    .stories {
        width: calc(100vw - 50px);
        height: calc(75vh - 50px);
        grid-template-columns: 1fr;
        overflow-y: scroll;
        grid-template-rows: repeat(5, auto);
    }

    .tale {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}